#Inicio{background-color: rgb(170, 202, 170); text-align: center;}
.Perico{font-family: cursive; color: rgb(113, 113, 50); font-size: 30px;}
.h1{font-family: fantasy; color: blue;;}
img{height: 305px; width: 305px; }